<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header-import"/>

    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet"/>
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet"/>

    <!--Leaflet library-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- sidebar menu fragment -->
                <div th:replace="fragments/sidebar :: sidebar"/>
                <!-- /sidebar menu fragment -->

            </div>
        </div>

        <div th:replace="fragments/head :: header-body"/>


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div th:replace="fragments/messages :: messages-body"/>

                <div class="page-title">
                    <div class="title_left">
                        <!--/*@thymesVar id="campaign" type="polimi.awt.model.Campaign"*/-->
                        <h3>Campaign Statistics</h3>
                    </div>

                    <!--<div hidden="true" th:replace="fragments/searchFor :: search-field"/>-->
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><!--/*@thymesVar id="campaign" type="polimi.awt.model.Campaign"*/-->
                                    <p th:text=" ${campaign.name} "/>
                                    <i><span th:text="'Status: ' + ${campaign.status} "/></i>
                                </h2>
                                <div class="col-md-5 col-sm-5 col-xs-5 form-group">
                                    <button th:if="${campaign.status=='created'}" type="button"
                                            class="btn btn-success btn-sm" data-toggle="modal"
                                            data-target="#modalStartCampaign"><i
                                            class="fa fa-play-circle-o"></i>&nbsp;Start
                                    </button>

                                    <button th:if="${campaign.status=='started'}" type="button"
                                            class="btn btn-danger btn-sm"
                                            data-toggle="modal" data-target="#modalCloseCampaign"><i
                                            class="fa fa-stop-circle-o"></i>&nbsp;Close
                                    </button>

                                    <!-- Small modal for closing campaign -->
                                    <div id="modalCloseCampaign" class="modal fade bs-example-modal-sm" tabindex="-1"
                                         hidden="false"
                                         role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <form th:action="@{~/campaign/{campaignId}/close(campaignId=${campaign.id})}"
                                                  method="post">

                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel2">Close campaign</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>Are you sure do you want to close the campaign <span
                                                                th:text="${campaign.name} "/>?</h4>
                                                        <p>After the campaign is closed, workers won't be able to modify
                                                            the annotations.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default btn-sm"
                                                                data-dismiss="modal">Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-danger btn-sm">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <ul class="nav navbar-right panel_toolbox">

                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="title_right">
                                    <div class="col-md-10 col-sm-10 col-xs-12 form-group">
                                        <!-- Small modal for starting campaign -->
                                        <div id="modalStartCampaign" class="modal fade bs-example-modal-sm"
                                             tabindex="-1" hidden="false"
                                             role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <form th:action="@{~/campaign/{campaignId}/start(campaignId=${campaign.id})}"
                                                      method="post">

                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel2">Start
                                                                campaign</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Are you sure do you want to start the campaign <span
                                                                    th:text="${campaign.name} "/>?</h4>
                                                            <p>After the campaign is started, you will be able to upload
                                                                peak files.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default btn-sm"
                                                                    data-dismiss="modal">Cancel
                                                            </button>
                                                            <button type="submit" class="btn btn-success btn-sm">Start
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /modals -->
                                    </div>

                                    <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 form-group">

                                        <div class="row tile_count">
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-area-chart"></i> Total Peaks</span>
                                                <div class="count"><p th:text="${statistics.totalPeaks}"/></div>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-user"></i> Peaks Started</span>
                                                <div class="count"><p th:text="${statistics.peaksStarted}"/></div>
                                                <span class="count_bottom"><i class="green"><span th:text="${statistics.peaksStartedPercentage}"/> </i> from Total</span>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-clock-o"></i> Peaks Annotated</span>
                                                <div class="count green"><p th:text="${statistics.peaksAnnotated}"/></div>
                                                <span class="count_bottom"> <span th:text="${statistics.peaksAnnotatedPercentage} + '%'"/></span>
                                            </div>
                                            <div class="col-md-3 col-sm-5 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-user"></i> Peaks w/ Rejected Annotations</span>
                                                <div class="count red"><p th:text="${statistics.peaksWithRejectedAnnotation}"/></div>
                                                <span class="count_bottom"><i class="red"><span th:text="${statistics.peaksWithRejectedAnnotationPercentage} + '%'"/> </i> from Total</span>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                                <span class="count_top"><i class="fa fa-user"></i> Conflicts</span>
                                                <div class="count"><p th:text="${statistics.conflicts}"/></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                PeakVal | Advance Web Technologies 2018
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../vendors/jszip/dist/jszip.min.js"></script>
<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

<!-- leaflet map 2d -->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    //this comment is for thymleaf to know where to inject the data
    /*[+
    var peaksString = [[${listaPeaks}]];
     +]*/
    var marker;

    //define the icon colors
    var greenIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-green.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    var yellowIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-yellow.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var redIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-red.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var orangeIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-orange.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var hashMapIcons = {};
    hashMapIcons['yellow'] = yellowIcon;
    hashMapIcons['red'] = redIcon;
    hashMapIcons['green'] = greenIcon;
    hashMapIcons['orange'] = orangeIcon;

    peaks = JSON.parse(peaksString);

    var mymap = L.map('mapid').setView([peaks[0].latitude, peaks[0].longitude], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiamVtYXJvbWFzdGVyIiwiYSI6ImNqaTR2eTRicTBkbXMzdm1ybzhsaHRzZmEifQ.3YESvQQqShg6m3aChbndkQ'
    }).addTo(mymap);

    for (var i = 0; i < peaks.length; i++) {
        var marker = L.marker([peaks[i].latitude, peaks[i].longitude], {icon: hashMapIcons[peaks[i].color]}).addTo(mymap);
        marker.bindPopup("<b>" + peaks[i].name + "</b><br></br>Altitude: " + peaks[i].altitude + " m" + "<br></br>" +
            "<button type='button' class='btn btn-default btn-sm'" +
            "onclick=\"window.location.href='/peaks/" + peaks[i].id + "'\">" +
            "Details </button>");
    }

    /*]]>*/
</script>

</body>
</html>
