<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header-import"/>

    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet"/>
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet"/>

    <!--Leaflet library-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- sidebar menu fragment -->
                <div th:replace="fragments/sidebar :: sidebar"/>
                <!-- /sidebar menu fragment -->

            </div>
        </div>

        <div th:replace="fragments/head :: header-body"/>


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div th:replace="fragments/messages :: messages-body"/>

                <div class="page-title">
                    <div class="title_left">
                        <h3>Peak Details</h3>
                    </div>

                    <!--<div hidden="true" th:replace="fragments/searchFor :: search-field"/>-->
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><!--/*@thymesVar id="peak" type="polimi.awt.model.Peak"*/-->
                                    <p><a th:href="@{~/campaign/{campId}(campId=${peak.campaign.id})}"
                                          th:text="${peak.campaign.name} + ' > ' + ${peak.name} "/>
                                    </p>
                                    <i><span th:text="'Status: ' + ${peak.color} "/></i>
                                </h2>
                                <div class="col-md-5 col-sm-5 col-xs-5 form-group"
                                     th:if="${#authentication.getPrincipal().getRoleName() == 'worker'}">

                                    <!--th:onclick="|window.location.href='@{/campaign/{campaignId}/uploadFile(campaignId=${campaign.id})}'|"-->
                                    <button type="button" class="btn btn-danger btn-sm"
                                            th:disabled="${!isSuscribedToCampaign}">
                                        <i class="fa fa-compass"></i>&nbsp;Annotate
                                    </button>
                                </div>
                                <ul class="nav navbar-right panel_toolbox">

                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="title_right">

                                    <div class="col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-0 col-xs-12 form-group">

                                        <div id="mapid" style="height: 400px"></div>

                                    </div>

                                    <div class="col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-12 form-group">
                                        <div class="x_content">
                                            <form class="form-horizontal form-label-left">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Name:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10" th:value="${peak.name}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Latitude:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10"
                                                               th:value="${peak.latitude}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Longitude:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10"
                                                               th:value="${peak.longitude}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Altitude:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10"
                                                               th:value="${peak.altitude + ' meters'}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Provenance:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10"
                                                               th:value="${peak.provenance}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Available
                                                        for annotation:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10"
                                                               th:value="${peak.toBeAnnotated?'Yes':'No'}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Localized
                                                        names:</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select readonly="true"
                                                                class="select2_multiple form-control"
                                                                multiple="multiple">
                                                            <option th:each="a : ${peak.localizedNames}"
                                                                    th:text="${a.name} + ' [' + ${a.lang} + ']'">id
                                                            </option>
                                                            <option th:if="${peak.localizedNames==null}">[None]</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Campaign
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input readonly="readonly" type="text"
                                                               class="form-control col-md-10"
                                                               th:value="${peak.campaign.name}"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- this panel is showed if the peak has conflicts-->
                <div class="row" th:if="${peak.conflicts == true}">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><!--/*@thymesVar id="peak" type="polimi.awt.model.Peak"*/-->
                                    <p></p>Conflicts
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="title_right">

                                    <div class="row top_tiles">
                                        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                                                <div class="count"><span
                                                        th:text="${peak.positivePeaksValidity + peak.negativePeaksValidity}"/>
                                                </div>
                                                <h3>Annotations in Total</h3>
                                                <p>Total number of annotation in this campaign</p>
                                            </div>
                                        </div>

                                        <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-check-circle-o"></i></div>
                                                <div class="count"><span th:text="${peak.positivePeaksValidity}"/></div>
                                                <h3>Valids</h3>
                                                <p>Positive validity annotations</p>
                                            </div>
                                        </div>

                                        <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-times-circle-o"></i></div>
                                                <div class="count"><span th:text="${peak.negativePeaksValidity}"/></div>
                                                <h3>Invalids</h3>
                                                <p>Negative validity annotations</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--this panel is only shown to the MANAGER-->
                <div class="row" th:if="${#authentication.getPrincipal().getRoleName() == 'manager'}"
                     id="workerAnnotationsTable" name="workerAnnotationsTable">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><!--/*@thymesVar id="peak" type="polimi.awt.model.Peak"*/-->
                                    <p></p>Worker Annotations
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="title_right">
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           cellspacing="0"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Elevation</th>
                                            <th>Valid?</th>
                                            <th>Created On</th>
                                            <th>Author</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--/*@thymesVar id="camp" type="polimi.awt.model.Campaign"*/-->
                                        <tr th:each="camp : ${annotations}">
                                            <td th:text="${camp.id}"></td>
                                            <td th:text="${camp.name}"></td>
                                            <td th:text="${camp.elevation}"></td>
                                            <!--<td th:text="${camp.peakValidity?'Yes':'No'}"></td>-->

                                            <td style="background-color:#3dff45" th:if="${camp.peakValidity == true}"
                                                th:text="${camp.peakValidity?'Yes':'No'}"></td>
                                            <td style="background-color:#f44336"
                                                th:if="${camp.peakValidity == false}"
                                                th:text="${camp.peakValidity?'Yes':'No'}"></td>

                                            <td th:text="${#calendars.format(camp.dateTimeCreated,'dd-MM-yyyy')}"></td>
                                            <td th:text="${camp.userPV.username}"></td>
                                            <td th:if="${camp.status.equals('VALID')}"
                                                th:text="${camp.status}"></td>
                                            <td th:if="${camp.status.equals('REJECTED')}"
                                                th:text="${camp.status}"></td>
                                            <td>
                                                <!--th:action="@{~/annotations/{annotationId}(annotationId=${camp.id})}"-->
                                                <!--method="get"-->
                                                <form>
                                                    <button type="button" class="btn btn-default btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#modalPeakDetails"
                                                            th:onclick="'getAnnotationDetails(' + ${camp.id} + ');'"
                                                    >
                                                        <i class="fa fa-eye"></i> View
                                                    </button>
                                                </form>


                                                <!--<button type="button" class="btn btn-default btn-xs">-->
                                                <!--<i class="fa fa-times"></i> Reject-->
                                                <!--</button>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--this panel is only shown to the WORKER FOR SHOWING THE ANNOTATION DONE-->
                <div class="row" th:if="${#authentication.getPrincipal().getRoleName() == 'worker'}">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><!--/*@thymesVar id="peak" type="polimi.awt.model.Peak"*/-->
                                    <p></p>Annotation added
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="title_right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->


        <!-- Large modal for rejecting annotation -->
        <div id="modalPeakDetails" class="modal fade bs-example-modal-lg"
             tabindex="-1" hidden="false"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <!--th:action="@{~/annotation/{annotationId}/reject(campaignId=${annotationId.id})}"-->
                <div id="replaceModalHere"/>
            </div>
        </div>

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                PeakVal | Advance Web Technologies 2018
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../vendors/jszip/dist/jszip.min.js"></script>

<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

<!-- leaflet map 2d -->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
    var peakString =[[${peakJson}]];
    +]*/
    var jsonPeak = JSON.parse(peakString);
    var mymap = L.map('mapid').setView([jsonPeak.latitude, jsonPeak.longitude], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiamVtYXJvbWFzdGVyIiwiYSI6ImNqaTR2eTRicTBkbXMzdm1ybzhsaHRzZmEifQ.3YESvQQqShg6m3aChbndkQ'
    }).addTo(mymap);

    var marker;

    //define the icon colors
    var greenIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-green.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    var yellowIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-yellow.png',
        shadowUrl: '/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var redIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-red.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var orangeIcon = new L.Icon({
        iconUrl: '../images/marker-icon-2x-orange.png',
        shadowUrl: '../images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var hashMapIcons = {};
    hashMapIcons['yellow'] = yellowIcon;
    hashMapIcons['red'] = redIcon;
    hashMapIcons['green'] = greenIcon;
    hashMapIcons['orange'] = orangeIcon;

    var marker = L.marker([jsonPeak.latitude, jsonPeak.longitude], {icon: hashMapIcons[jsonPeak.color]}).addTo(mymap);

    /*]]>*/

    function getAnnotationDetails(peakID) {
        $.get("/annotations/" + peakID, function (data) {
            console.log(data);
            $("#replaceModalHere").html(data);
        });
    }
</script>


</body>
</html>
